.menu {
    margin: 20px 0;

    img {
        margin: 0 15px;
    }

    .menu-text {
        font-size: 12px;
        font-weight: 700;
        text-align: end;

        a {
            text-decoration: none;
            color: #465867;

            &:hover {
                color: #C10037;
                transition: 0.3s;
            }
        }

        .socials {
            margin: 0 15px;
        }
    }
}