.menu {
    padding: 20px 0;
    overflow: hidden;
    z-index: 1;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    img {
        margin: 0 15px;
    }

    .menu-text {
        font-size: 12px;
        font-weight: 700;
        text-align: end;

        a {
            text-decoration: none;
            color: #465867;

            &:hover {
                color: #C10037;
                transition: 0.3s;
            }

            &:active {
                color: orangered !important;
                
            }
        }

        .socials {
            margin: 0 15px;
        }

    }

    @media only screen and (max-device-width: 767px) {
        .show-mobile {
          display: block;
        }
        .hide-mobile {
          display: none;
        }
      }

      @media only screen and (min-device-width: 768px) {
        .show-mobile {
          display: none;
        }
        .hide-mobile {
          display: block;
        }
      }

      .hamburger {
        text-align: end;
        position: relative;
        width: 35px;
    
        cursor: pointer;

        appearance: none;
        background: none;
        outline: none;
        border: none;
     }


      .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background-color: #FF5635;
        margin: 6px 0px;
        transition: 0.4s;
      }

      .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
            opacity: 0;
        }

    .mobile-nav-bar {
        position: fixed;
        top: 100px;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: transparent;
        backdrop-filter: blur(5px);
        padding-top: 120px;
        transition: 0.4s;

        

        a {
            display: block;
            margin: 0 auto 16px;
            text-align: center;
            width: 80%;
            border-radius: 10px;
            padding: 12px 16px;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
            background-color: #FF5635;

            color: #FFF;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                filter: brightness(60%);
                transition: 0.4s;
            }

        }
    }

    .mobile-nav-bar.is-active {  
            left: 0;
    }
    

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}