.offer {
    margin-top: 5%;
    background: rgba(221, 214, 213, 0.30);
    display: flex;
    padding-bottom: 5%;

    .offer-bg {
        width: 70%;
        margin: auto;
        margin-top: 5%;

        .offer-title {
            color: #465867;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .offer-box-flex {
            display: flex;

            .offer-box {
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
                width: 50%;
                margin: 0 3% 3% 0;

                .number {
                    color: #FF5635;
                    font-size: 30px;
                    font-weight: 700;
                    display: flex;
                    padding: 4% 6%;

                    .line {
                        border-top: 2px solid;
                        width: 80%;
                        stroke-width: 2px;
                        margin: auto;
                    }

                    .circle {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        display: inline-block;
                        border: 2px solid;
                        stroke-width: 2px;
                        margin: auto;
                        
                      }
                }

                .offer-box-title {
                    color: #465867;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px; 
                    padding: 0 6% 0 6%;
                  }

                  ol {
                    color: #465867;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    padding: 0 5% 5% 10%;
                  }

                  
            }
          }
    }
}