.offer {
    
    background: rgba(221, 214, 213, 0.30);
    display: flex;
    padding-top: 35px;
    padding-bottom: 45px;



    .offer-title {
        color: #465867;
        font-size: 30px;
        font-weight: 700;
        margin: 15px;
    }

        

    .offer-box {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        margin: 15px;
        padding-bottom: 32px;


                .number {
                    color: #FF5635;
                    font-size: 30px;
                    font-weight: 700;
                    display: flex;
                    padding-top: 12px;
                    padding-bottom: 10px;

                    .line {
                        border-top: 2px solid;
                        width: 80%;
                        stroke-width: 2px;
                        margin: auto;
                    }

                    .circle {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        display: inline-block;
                        border: 2px solid;
                        stroke-width: 2px;
                        margin: auto;
                        
                      }
                }

                .offer-box-title {
                    color: #465867;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px; 
                    margin-bottom: 16px;
                  }

                  ol {
                    color: #465867;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    padding: 0 0 0 30px;

                    ul {
                        padding: 0 8px;
                        li {
                            list-style-type: "- ";
                            
                          }
                    }

                   
                  }

                  
            }
          }
    
