.who-trusted-us {
    overflow: hidden;
    margin: 7% 0 160px 0;

    .who-trusted-us-title {
        color: #465867;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
      }

    
.js-slider {


    .slick-slide {
        margin: 5px 15px;
        min-height: 80px;
        
    }

    

      
        
        
         
            .who-trusted-us-box {
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
                text-align: center;
                display: flex;

                img {
                    align-self: center;
                    margin: auto;
                }
        }
}
    

       
  }

