.container-extra {
  background: rgba(221, 214, 213, 0.30);
  padding: 60px 0;

    .margin-mid {
      margin: 0 100px;
    }

  .text {
    color: #465867;
    font-family: Encode Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 26px 0;
  }

  .box {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 11px 0 11px 30px;
    
    
 

      img {
        height: auto;
        width: 20%;
        min-height: 50px;
      }
    
    

    .box-text {
      color: #465867;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px; /* 187.5% */
      align-self: center;
    }
  }
}