@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap");
.menu {
  padding: 21px 0 19px 24px;
  display: flex;
}
.menu .menu-left {
  float: left;
  display: flex;
}
.menu .menu-right {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 0;
  margin-left: auto;
}
.menu .menu-right .menu-right-buttons {
  float: left;
}
.menu .menu-right .menu-right-buttons a {
  padding: 0 30px 0 0;
  color: #465867;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.menu .menu-right .menu-right-media {
  float: left;
  display: flex;
}

.big-images {
  display: flex;
}
.big-images .geodesy {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-images .geodesy img {
  width: 100%;
  filter: brightness(50%);
  z-index: -1;
}
.big-images .geodesy .geodesy-text {
  position: absolute;
  align-self: center;
  text-align: center;
}
.big-images .geodesy .geodesy-text .geodesy-text-title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 22px 0;
}
.big-images .geodesy .geodesy-text a {
  border-radius: 10px;
  background: #FF5635;
  color: #FFF;
  text-align: center;
  font-family: Encode Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 10px 22px;
}
.big-images .estate {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
}
.big-images .estate img {
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}
.big-images .estate .geodesy-text {
  position: absolute;
  align-self: center;
  text-align: center;
}
.big-images .estate .geodesy-text .geodesy-text-title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 22px 0;
}
.big-images .estate .geodesy-text a {
  border-radius: 10px;
  background: #FF5635;
  color: #FFF;
  text-align: center;
  font-family: Encode Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 10px 22px;
}

.about-us {
  color: #465867;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10% 20%;
}
.about-us .about-us-text {
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
}

.distinction {
  background: rgba(221, 214, 213, 0.3);
  color: #465867;
  font-size: 30px;
  font-weight: 700;
  display: flex;
}
.distinction .distinction-text {
  padding: 3% 0 3% 6%;
  width: 40%;
}
.distinction .distinction-text .distinction-title {
  padding: 0 0 15px 0;
}
.distinction .distinction-text .distinction-about {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.distinction img {
  width: 40%;
  margin: auto;
  margin-top: -7px;
  margin-bottom: -12px;
  border-radius: 55% 5% 5% 5%;
}

.how-we-work {
  display: flex;
  margin-top: 10%;
  color: #465867;
}
.how-we-work img {
  width: 40%;
  margin: auto;
  border-radius: 55% 5% 5% 5%;
  margin-top: 0;
  margin-bottom: 2%;
}
.how-we-work .how-we-work-text {
  margin: auto;
  width: 40%;
  padding-top: 10px;
}
.how-we-work .how-we-work-text .how-we-work-title {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 10px 6px;
}
.how-we-work .how-we-work-text li {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  list-style-image: url(../images/check.svg);
}
.how-we-work .how-we-work-text li::marker {
  margin-top: 100px;
}
.how-we-work .how-we-work-text p {
  font-size: 16px;
  font-weight: 300;
}

.offer {
  background: rgba(221, 214, 213, 0.3);
  display: flex;
  padding-top: 35px;
  padding-bottom: 45px;
}
.offer .offer-title {
  color: #465867;
  font-size: 30px;
  font-weight: 700;
  margin: 15px;
}
.offer .offer-box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 15px;
  padding-bottom: 32px;
}
.offer .offer-box .number {
  color: #FF5635;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  padding-top: 12px;
  padding-bottom: 10px;
}
.offer .offer-box .number .line {
  border-top: 2px solid;
  width: 80%;
  stroke-width: 2px;
  margin: auto;
}
.offer .offer-box .number .circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid;
  stroke-width: 2px;
  margin: auto;
}
.offer .offer-box .offer-box-title {
  color: #465867;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
}
.offer .offer-box ol {
  color: #465867;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 0 0 30px;
}
.offer .offer-box ol ul {
  padding: 0 8px;
}
.offer .offer-box ol ul li {
  list-style-type: "- ";
}

.who-trusted-us {
  overflow: hidden;
  margin: 7% 0 160px 0;
}
.who-trusted-us .who-trusted-us-title {
  color: #465867;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.who-trusted-us .js-slider .slick-slide {
  margin: 5px 15px;
  min-height: 80px;
}
.who-trusted-us .js-slider .who-trusted-us-box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
}
.who-trusted-us .js-slider .who-trusted-us-box img {
  align-self: center;
  margin: auto;
}

.container-extra {
  background: rgba(221, 214, 213, 0.3);
  padding: 60px 0;
}
.container-extra .margin-mid {
  margin: 0 100px;
}
.container-extra .text {
  color: #465867;
  font-family: Encode Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 26px 0;
}
.container-extra .box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 11px 30px 11px 30px;
}
.container-extra .box img {
  height: auto;
  width: 20%;
  min-height: 50px;
  object-fit: contain;
}
.container-extra .box .box-text {
  color: #465867;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  align-self: center;
  padding: 0;
}

.why-it-is-worth {
  margin: 0 35px 160px 35px !important;
}
.why-it-is-worth .box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 70px;
  margin: 15px;
  color: #465867;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.why-it-is-worth .box img {
  height: 45px;
  width: 45px;
  align-self: center;
}
.why-it-is-worth .invisibility {
  margin: 15px -30px;
}

.text-type {
  color: #465867;
  font-size: 30px;
  font-weight: 700;
  margin-top: 150px;
}
.text-type p {
  font-size: 16px;
  font-weight: 400;
}

.questions {
  margin: 0 40px 0 50px;
}
.questions .questions-text {
  color: #465867;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
  max-width: 606px;
}
.questions .questions-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-bottom: 92px;
  margin-top: 14px;
}
.questions .questions-box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 17px 20px 17px 20px;
  align-items: center;
}
.questions .questions-box img {
  height: 45px;
  width: 45px;
  padding: 0 !important;
}
.questions .questions-box .title {
  color: #465867;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.questions .questions-box .text {
  color: #465867;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.questions-and-contact {
  margin-bottom: 60px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.contact {
  border-radius: 10px;
  border: 1px solid rgba(102, 180, 22, 0.3);
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 0 24px;
}
.contact .contact-title {
  color: #465867;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 20px 21px 12px;
}
.contact form {
  margin: 0 37px 0 33px;
}
.contact form .info-area {
  color: #465867;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0 12px 0;
  padding: 0 !important;
}
.contact form .write-area {
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(221, 214, 213, 0.3);
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 40px;
}
.contact form input::placeholder {
  color: rgba(70, 88, 103, 0.5);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px; /* 214.286% */
}
.contact form textarea {
  resize: none;
  height: 103px !important;
}
.contact form textarea::placeholder {
  color: rgba(70, 88, 103, 0.5);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px; /* 214.286% */
}
.contact form .button {
  border-radius: 10px;
  background: #FF5635;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  width: 100px;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  float: right;
  margin: 33px 0 45px 0;
}

.map {
  margin: auto;
  margin-bottom: 149px;
}
.map iframe {
  height: 450px;
  width: 100%;
  border-radius: 20px;
  background: lightgray 50%/cover no-repeat;
}

.footer {
  background: #1A1A1A;
  color: #FFF;
  padding: 70px;
  width: 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.footer .image {
  padding: 0px;
}
.footer .text {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}
.footer .text .title {
  margin-bottom: 20px;
}
.footer .text .paragraph-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.footer .text p {
  font-size: 12px;
}

.copyright {
  padding: 20px;
  background: #465867;
  color: #FFF;
  width: 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.copyright .text {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px; /* 214.286% */
}

* {
  font-family: "Encode Sans", sans-serif;
}